/*
	style.css
    Created by Haeryun Kwon
    Date: 2020-02-19
	Time: 3:39 p.m.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* General */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a:-webkit-any-link {
	color: #4CAF50;
}

.column {

}

/* Containers */
#home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-top: 10%;
}

#level-container, #keyword-container, #details-container, #auth-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding-top: 10%;
}

#details-container {
	text-align: center;
}

#banner-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	color: #FFFFFF;
	background-color: #4CAF50;
	width: 100%;
	height: 100px;
}

#footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	width: 100%;
	height: 100px;
	margin: 3% 0;
}

/* Buttons */
.level-btn, .keyword-btn, .search-btn {
	outline: none;
	text-align: center;
}

.level-btn, .keyword-btn {
	font-size: 16px;
	width: 180px;
	padding: 15px;
	border-radius: 5px;
	margin-top: 10px;
}

.level-btn, .search-btn {
	background-color: #4CAF50;
	border: none;
	color: white;
}

.search-btn {
	padding: 10px;
	border-radius: 2px;
}

.keyword-btn {
	background-color: white;
	border: 2px solid #4CAF50;
	color: #4CAF50;
}

.level-btn:hover, .keyword-btn:hover, .search-btn:hover {
	opacity: 50%;
}

/* Inputs */
input {
	font-size: 16px;
}

.level-input, .keyword-input, .auth-input {
	width: 300px;
	height: 35px;
	margin-bottom: 25px;
}

.auth-input {
	margin-bottom: 10px;
}

/* Banner */
.banner-menus {
	display: flex;
	justify-content: space-between;
	width: 35%;
}

.banner-menus > a {
	color: #FFFFFF !important;
	text-decoration: none;
}

/* Auth */
.auth-form {
	display: flex;
	flex-direction: column;
}

.sign-up-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.sign-up-wrapper > a {
	margin-left: 5px;
}